body {

  font-size: 24px;
}

h1 {
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

p {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
}

label {
    text-align: center;
    font-size: 18px;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.arial {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
}

.copperplate {
    font-family: 'Copperplate', sans-serif;
    font-size: 24px;

}



.impact {
    font-family: 'Impact', sans-serif;
    font-size: 24px;

}

.papyrus {
    font-family: 'Papyrus', sans-serif;
    font-size: 24px;

}
